docs/** linguist-documentation
vignettes/** linguist-documentation
man/** linguist-documentation
inst/** linguist-vendored
R/aaa0_squarebrackets_help.R -linguist-documentation
R/aaa1_squarebrackets_immutable_classes.R -linguist-documentation
R/aaa2_squarebrackets_mutable_classes.R -linguist-documentation
R/aaa3_squarebrackets_indx_args.R -linguist-documentation
R/aaa4_squarebrackets_duplicates.R -linguist-documentation
R/aaa5_squarebrackets_PassByReference.R -linguist-documentation
R/aaa6_squarebrackets_technical.R -linguist-documentation
R/aaa7_squarebrackets_inconveniences.R -linguist-documentation
R/reexports.R -linguist-documentation
R/meta_functions.R -linguist-documentation
R/zzz.R -linguist-vendored
R/RcppExports.R -linguist-vendored
R/squarebracketsWrappers.R -linguist-vendored
R/exported_utilities.R -linguist-vendored
DynamicallyType_RcppScripts.R -linguist-vendored
DynamicallyType_Rtemplates.R -linguist-vendored
